<div class="item_template">
	<h1>{{ template.name }}</h1>
	<h3>Weight: {{ template.weight }}</h3>
	<h3>Value: {{ template.value }}</h3>
	<h3>Protection: {{ template.protection }}</h3>
	<h3>extra description: {{ template.extra_description }}</h3>
	{% if template.ability %}
	<h3>Ability: {{ template.ability.get_description() }}</h3>
	{% endif %}
	<div class="item_stats">
		<h2>Stats:</h2>
		<ul>
			{% for stat in template.item_stats %}
			<li>{{ stat.get_description() }}
				{% endfor %}
		</ul>
	</div>
</div>
<div id="item_location">
</div>
